node_modules
temp
tmp
.now
.vscode
docs
.yarn/*
.yarn/cache
.yarnrc.yml
!.yarn/patches
!.yarn/plugins
.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store

dist
dist-demos
release

# python (reflex-webgl-plot)
__pycache__
build
*.egg-info

test-results
.vercel
